<script>
function refreshPage(){
    document.getElementById("movie").innerHTML = "NEW MOVIE";
    setTimeout(function(){
   window.location.reload(1);
}, 3000);
}
</script>
<div id="movie" style="color:red; font-size:8em;">
  <%= @movie_name %>
</div>
<br><br><br>

<button type="button" style="background-color: #4CAF50;padding: 15px 32px; color: blue; width: 100%;" onClick="refreshPage()">Refresh</button>
